
h1 {
    font-size: 36px !important;
}

h2#our-menu {
    text-align: center;
}

h3 {
    font-size: 20px !important;
}
html main > .section.hero-container {
    max-width: 100%;
}
html main > .section {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
    font-weight: 400;
    margin: 10px 0; 
}

h6 {
    font-size: 15px !important;
    letter-spacing: normal;
    margin-bottom: 30px;
}

.header-wrapper .nav-brand{
    min-width: 250px;
}

.header-wrapper .nav-sections .default-content-wrapper ul {
    justify-content: end;
}

.header-wrapper nav a:any-link {
    /* color: currentcolor; */
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
    text-decoration: none;
    color: dimgrey;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 4px;
}

.header-wrapper nav a:hover {
    color: #000!important;
    background-color: #ccc!important
}

.section.hero-container, .section.hero-container .hero {
    position: relative;
    min-height: 632px;
}

.hero-container .hero h1 {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: dimgrey;
}

.section.hero-container picture {
    min-height: 632px;
}

.two-column-layout .columns-img-col img {
    max-width: 501px; 
    margin: auto;
}


.two-column-layout h1,
.two-column-layout h5 {
    text-align: center;
}

.two-column-layout h1 {
    margin-bottom: 30px;
}

.two-column-layout p:last-of-type {
    color: #757575 !important;
}
